{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<br>
<div class="container">
	
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<center>
			<h1>{{ object.title }}</h1>
			{% if request.user.is_authenticated %}
			<a href="{% url 'images:delete' pk=object.pk %}">
				<button class="btn btn-danger">Delete Image</button>
			</a>
			<br>
			{% endif %}
			<br>
			<p>{{ object.description }}</p>	
			</center>	
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<img src="/media/{{ object.image }}" alt="img02" class="img-responsive" /><br><br>
		</div>	
	</div>
</div>


{% endblock content %}